
    <main role="main">

      <div class="container search">
        <%= react_component("CompaniesContainer", { companiesPath: public_companies_path(:json), searchPath: search_public_companies_path }) %>
      </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

    </main>
